<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connexion - Borealis</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/favicon.ico" sizes="any">
  <link rel="icon" href="/static/img/logo_colour.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/icon.png">
</head>
<body>
<header>
  <div class="logo-center">
    <a href="{{url_for('index')}}"><img src="/static/img/fullLogo_colour_white.svg" alt="Borealis"/></a>
  </div>
</header>
<main class="main-content connect-container">
  <div class="signup-container">
    <h3>INSCRIPTION</h3>
    <form action="{{url_for('inscription')}}" method= "POST">
      <div class="signup-nameAndSurname">
        <label>Prénom: </label><input type="text" id="signup-name" name="signup-name" pattern="[a-zA-Z\- ]{1,30}">
        <label>Nom: </label><input type="text" id="signup-surname" name="signup-surname" pattern="[a-zA-Z\- ]{1,30}">
      </div>
      <div class="signup-email">
        <label>Courriel: </label><input type="email" id="signup-email" name="signup-email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}${6,100}">
      </div>
      <div class="signup-phone">
        <label>Téléphone: </label><input type="text" id="signup-phone" name="signup-phone" placeholder="sans espace, - et ()" pattern="[0-9]{10}">
      </div>
      <div class="signup-street">
        <label>Rue: </label><input type="text" id="signup-street" name="signup-street" pattern="[a-zA-Z0-9\- \']{1,60}">
      </div>
      <div class="signup-post">
        <label>Code postal: </label><input type="text" id="signup-post" name="signup-post" placeholder="sans espace" pattern="[a-zA-Z0-9]{6}">
      </div>
      <div class="signup-city">
        <label>Ville: </label><input type="text" id="signup-city" name="signup-city" pattern="[a-zA-Z\- ]{1,30}">
      </div>
      <div class="signup-province">
        <label for="signup-province">Province: <select id="signup-province" name="signup-province" required>
          <option value="AB">Alberta</option>
          <option value="BC">Colombie-Britannique</option>
          <option value="PE">Île-du-Prince-Édouard</option>
          <option value="MB">Manitoba</option>
          <option value="NB">Nouveau-Brunswick</option>
          <option value="NS">Nouvelle-Écosse</option>
          <option value="NU">Nunavut</option>
          <option value="ON">Ontario</option>
          <option value="QC">Québec</option>
          <option value="SK">Saskatchewan</option>
          <option value="NL">Terre-Neuve-et-Labrador</option>
          <option value="NT">Territoires du Nord-Ouest</option>
          <option value="YT">Yukon</option>
        </select></label>
      </div>
      <div class="signup-province">
        <label for="signup-warehouse">Entrepôt favoris: <select id="signup-warehouse" name="signup-warehouse" required>
          <option value="3">Montréal</option>
          <option value="1">Toronto</option>
          <option value="2">Vancouver</option>
        </select></label>
      </div>
      <div class="signup-password">
        <label>Mot de passe: </label><input type="password" id="signup-password" name="signup-password" pattern="[a-zA-Z0-9!@#$%^*_|]{5,30}">
      </div>
      <button type="submit" class="signup-btn">INSCRIPTION</button>
    </form>
  </div>
  <div class="signin-container">
    <h3>CONNEXION</h3>
    {%  if message %}
      <h3 class="erreur">{{ message }}</h3>
    {% endif %}
    <form action="{{url_for('connection')}}" method= "POST">
      <div class="signin-email">
        <label>Courriel: </label><input type="email" id="signin-email" name="signin-email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}${6,100}">
      </div>
      <div class="signin-password">
        <label>Mot de passe: </label><input type="password" id="signin-password" name="signin-password" pattern="[a-zA-Z0-9!@#$%^*_|]{5,30}">
      </div>
      <button type="submit" class="signin-btn">CONNEXION</button>
      <div class="signin-forgot">
        <!-- <a href="">Forgot Password?</a> -->
      </div>
    </form>
  </div>
</main>
<footer class="site-footer">
  <p>Borealis - <span id="currentYear"></span></p>
</footer>
</body>
<script type="text/javascript" src="/static/js/app.js"></script>
</html>
