<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/favicon.ico" sizes="any">
  <link rel="icon" href="/static/img/logo_colour.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/icon.png">
</head>
<body>
<header>
  <div class="logo-center">
    <img src="/static/img/fullLogo_colour_white.svg" alt="Borealis"/>
  </div>
</header>
<main class="main-content connect-container">
  <div class="signup-container">
    <h3>SIGN-UP</h3>
    <form>
      <div class="signup-nameAndSurname">
        <label>Name: </label><input type="text" id="signup_name" name="signup_name" pattern="[a-zA-Z\- ]{1,}">
        <label>Surname: </label><input type="text" id="signup_surname" name="signup_surname" pattern="[a-zA-Z\- ]{1,}">
      </div>
      <div class="signup-email">
        <label>Email: </label><input type="email" id="signup_email" name="signup_email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
      </div>
      <div class="signup-street">
        <label>Street: </label><input type="text" id="signup_street" name="signup_street" pattern="[a-zA-Z0-9\-]{1,}">
      </div>
      <div class="signup-post">
        <label>Postal Code: </label><input type="text" id="signup_post" name="signup_post" pattern="[a-zA-Z0-9 ]{7}">
      </div>
      <div class="signup-city">
        <label>City: </label><input type="text" id="signup_city" name="signup_city" pattern="[a-zA-Z\-]{1,}">
      </div>
      <div class="signup-province">
        <label for="signup-province">Province: <select id="signup-province" name="billing-province" required>
          <option value="AB">Alberta</option>
          <option value="BC">British Columbia</option>
          <option value="MB">Manitoba</option>
          <option value="NB">New Brunswick</option>
          <option value="NL">Newfoundland and Labrador</option>
          <option value="NT">Northwest Territories</option>
          <option value="NS">Nova Scotia</option>
          <option value="NU">Nunavut</option>
          <option value="ON">Ontario</option>
          <option value="PE">Prince Edward Island</option>
          <option value="QC">Quebec</option>
          <option value="SK">Saskatchewan</option>
          <option value="YT">Yukon</option>
        </select></label>
      </div>
      <div class="signup-phone">
        <label>Phone: </label><input type="text" id="signup_phone" name="signup_phone" pattern="[0-9\-\(\) ]{10,14}">
      </div>
      <div class="signup-password">
        <label>Password: </label><input type="password" id="signup_password" name="signup_password" pattern="[a-zA-Z0-9!@#$%^*_|]{5,}">
      </div>
      <button class="signup-btn">SIGN UP</button>
    </form>
  </div>
  <div class="signin-container">
    <h3>SIGN-IN</h3>
    <form>
      <div class="signin-email">
        <label>Email: </label><input type="email" id="signin_email" name="signin_email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
      </div>
      <div class="signin-password">
        <label>Password: </label><input type="password" id="signin_password" name="signup_password" pattern="[a-zA-Z0-9!@#$%^*_|]{5,}">
      </div>
      <button class="signin-btn">SIGN IN</button>
      <div class="signin-forgot">
        <!-- <a href="">Forgot Password?</a> -->
      </div>
    </form>
  </div>
</main>
<footer class="site-footer">
  <p>Borealis - <span id="currentYear"></span></p>
</footer>
</body>
<script type="text/javascript" src="/static/js/app.js"></script>
</html>
