<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Index - Borealis</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/img/logo_colour.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/icon.png">
</head>
<body>
<header class="header">
  <div class="top-bar">
    <div class="logo-container">
      <a href="{{url_for('index')}}"><img src="/static/img/fullLogo_colour_white.svg" alt="Borealis"/></a>
    </div>
    <div class="search-bar">
      <form action="{{url_for('search')}}" method="POST" id="itemSearch">
        <input
        type="search"
        placeholder="Recherche"
        class="search-input"
        aria-label="Search products"
        pattern="[a-zA-Z0-9\- ]{1,50}"
        name="search"
        />
        <div class="category-button">
          <select aria-label="Select category" name="category">
            <option value="all">Tous categories</option>
            <option value="Aliment">Aliment</option>
            <option value="Automobile">Automobile</option>
            <option value="Cosmétiques">Cosmétiques</option>
            <option value="Électronique">Électronique</option>
            <option value="Jouet">Jouet</option>
            <option value="Maison">Maison</option>
            <option value="Vêtements">Vêtements</option>
          </select>
        </div>
        <button type="submit" form='itemSearch' class="search-button" aria-label="Search">
          <svg
            class="search-icon"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2.85714 8.57143C2.85714 5.41551 5.41551 2.85714 8.57143 2.85714C11.7273 2.85714 14.2857 5.41551 14.2857 8.57143C14.2857 11.7273 11.7273 14.2857 8.57143 14.2857C5.41551 14.2857 2.85714 11.7273 2.85714 8.57143ZM8.57143 0C3.83756 0 0 3.83756 0 8.57143C0 13.3053 3.83756 17.1429 8.57143 17.1429C10.4225 17.1429 12.1366 16.556 13.5377 15.5583L17.5613 19.5819C18.1191 20.1397 19.0237 20.1397 19.5816 19.5819C20.1394 19.024 20.1394 18.1194 19.5816 17.5616L15.5581 13.5381C16.556 12.1369 17.1429 10.4227 17.1429 8.57143C17.1429 3.83756 13.3053 0 8.57143 0Z"
              fill="#F2F2F2"
            />
          </svg>
        </button>
      </form>
    </div>
    <nav class="nav-links">
      {% if connected %}
        <a href="{{url_for('account')}}" class="nav-link">COMPTE</a>
        <a href="{{url_for('orders')}}" class="nav-link">COMMANDES</a>
        <div class="cart-container">
        <button onclick="window.location.href='{{url_for('cart')}}'" class="cart-button">
        <svg
          class="cart-icon"
          width="31"
          height="31"
          viewBox="0 0 31 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.29163 1.29167H6.45829L9.91996 18.5871C10.0381 19.1818 10.3616 19.7159 10.8339 20.0961C11.3062 20.4763 11.8971 20.6783 12.5033 20.6667H25.0583C25.6645 20.6783 26.2554 20.4763 26.7277 20.0961C27.2 19.7159 27.5235 19.1818 27.6416 18.5871L29.7083 7.75H7.74996M12.9166 27.125C12.9166 27.8384 12.3383 28.4167 11.625 28.4167C10.9116 28.4167 10.3333 27.8384 10.3333 27.125C10.3333 26.4116 10.9116 25.8333 11.625 25.8333C12.3383 25.8333 12.9166 26.4116 12.9166 27.125ZM27.125 27.125C27.125 27.8384 26.5467 28.4167 25.8333 28.4167C25.1199 28.4167 24.5416 27.8384 24.5416 27.125C24.5416 26.4116 25.1199 25.8333 25.8333 25.8333C26.5467 25.8333 27.125 26.4116 27.125 27.125Z"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        </button>
      </div>
      {% else %}
        <a href="{{url_for('connect')}}" class="nav-link">CONNEXION</a>
      {% endif %}
      <!-- <button class="language-button">EN</button> -->
    </nav>
  </div>
</header>
<main class="orders-container main-content">
  <h1 class="orders-title">COMMANDES</h1>
    {% for order in orders %}
      <article class="order-card">
        <div class="order-images">
          <div class="images-grid">
            {% for image in images %}
              {% if image[0] == order[0] %}
            <img
              src="/static/img/product/{{image[2]}}"
              alt="{{image[1]}}"
              class="product-image"
            />
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="order-details">
          <div class="order-header">
            <h2 class="order-number">COMMANDE #{{order[0]}}</h2>
            <h3>{{order[2]}}$</h3>
          </div>
          <div class="order-info-grid">
            {% for delivery in deliveries %}
              {% if delivery[0] == order[0] %}
                {% set deliveryNbr = deliveryNbr + 1 %}
            <section class="destination-info">
              <h2>LIVRAISON #{{ deliveryNbr }}</h2>
              <h3>DATE DE LIVRAISON</h3>
              <p>
                {{ delivery[1] }}
              </p>
              <h3>DESTINATION</h3>
              <address>
                {{ delivery[2] }}<br />
                {{ delivery[3] }}, {{ delivery[4] }}, Canada<br />
                {{ delivery[5] }}
              </address>
              <h3>TRANSPORTEUR</h3>
              <p>
                {{ delivery[6] }}<br />
              </p>
            </section>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </article>
  {% endfor %}
</main>
<footer class="site-footer">
  <p>Borealis - <span id="currentYear"></span></p>
</footer>
</body>
<script type="text/javascript" src="/static/js/app.js"></script>
</html>
